<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{../../css/style.css}">
</head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>

<main>
    <div class="helper">
        <div class="title">
            <h3>Author Setup</h3>
        </div>
        <div class="create-action">
            <a th:href="@{~/author/getall}">
                <button>Back</button>
            </a>
        </div>


        <div class="create-action2">
            <form th:action="@{/author/create}" th:object="${authorDetails}" method="post">

                <ul class="form-style-1">
                    <input type="hidden" name="id" th:field="*{id}">
                    <li>
                        <input th:field="*{name}"
                               type="text" name="name" class="field-divided" placeholder="Name"/>


                        <input th:field="*{email}"
                               type="email" name="email" class="field-divided" placeholder="Email"/>

                    </li>
                    <li>
                        <input th:field="*{MNumber}"
                               type="text" name="mobile" class="field-long"
                               placeholder="Mobile Number"/>
<!--                        <p th:if="${#fields.hasErrors('MNumber')}" th:errorclass="error" th:errors="*{MNumber}" />-->
                    </li>
                </ul>
                <input type="submit" value="Submit"/>
                <input type="reset"/>
                <div class="errors" th:if="${#fields.hasAnyErrors()}">
                    <ul>
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                    </ul>
                </div>

            </form>

            <div>

            </div>
        </div>
    </div>
</main>

</body>
</html>
