<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{../../css/style.css}">
</head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>

<main>
    <div class="helper">
        <div class="title">
            <h3>Rent Book Setup</h3>
        </div>

        <div class="create-action">
            <a href="return_book.html">
                <button>Back</button>
            </a>
        </div>
        <!-- <span>Breakpoints on 900px and 400px</span> -->
       <div class="create-action2">
           <label class="text-dark">Select Code: </label>
           <select name="returnId" id="valueselect"  class="form-select code">
               <option value=""  disabled selected hidden>Choose...</option>
               <option
                       th:each="return : ${transactions}"
                       th:value="${return.transactionId}"
                       th:text="${return.code}">
               </option>
           </select>
       </div>
    </div>
</main>
<script>

    document.getElementsByClassName("code")[0].addEventListener("click", function(event) {

        var value = document.getElementById("valueselect").value;
        location.href = "/return/code/" + value;
    });
</script>
</body>
</html>
