<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>

<main>
    <div class="helper">
        <div class="title">
            <h3>Rent Book Setup</h3>
        </div>

        <div class="create-action">
            <a href="return_book.html"><button>Back</button></a>
        </div>
        <!-- <span>Breakpoints on 900px and 400px</span> -->

        <div class="create-action2">
            <form action="" method="POST">
                <div class="custom-select">
                    <select id="single-select">
                        <option value="0">Code :</option>
                        <option value="1">Demo</option>
                    </select>
                </div>
                <ul class="form-style-1">
                    <li class="text-span">
                        <span>Date of Request</span>
                        <span>Date of Return</span>
                    </li>
                    <li>
                        <input type="date" name="daterequest" class="field-divided" placeholder="Pages" required />
                        <input type="date" name="datereturn" class="field-divided" placeholder="Rating" required />
                    </li>
                    <li>
                        <input type="text" name="name" class="field-divided" placeholder="Name" required />
                        <input type="text" name="status" class="field-divided" placeholder="Status" required />
                    </li>
                    <li>
                        <input type="text" name="rentstatus" class="field-divided" placeholder="Rent Status" required />
                    </li>
                </ul>
                <input type="submit" value="Submit" />
                <input type="reset" />
            </form>
        </div>
    </div>
</main>
</body>
</html>
