<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<style>
    *{
        color: black;
    }
    .container{
        margin-left: 30px;
    }
</style>
<body>
<div>

</div>
<div class="container">
    <h1>View Book</h1>
    <u><h2>Id:</h2></u>
    <h2 th:text="${returnData.transactionDto.transactionId}" th:value="${returnData.transactionDto.transactionId}"></h2>
    <u><h2>Book's Name:</h2></u>
    <h2 th:text="${returnData.transactionDto.book.name}" th:value="${returnData.transactionDto.book.name}"></h2>
    <u><h2>Book's Code:</h2></u>
    <h2 th:text="${returnData.transactionDto.code}" th:value="${returnData.transactionDto.code}"></h2>
    <u><h2>From Date:</h2></u>
    <h2  th:text="${returnData.transactionDto.fromDate}"></h2>
    <u><h2>To Date:</h2></u>
    <h2 th:text="${returnData.transactionDto.toDate}"></h2>

    <h2>  <a th:href="@{~/return/save/{id} (id=${returnData.transactionDto.transactionId})}" ><button>RETURN</button></a></h2>

</div>


</body>
</html>