<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>

<main>
    <div class="helper">
        <div class="title">
            <h3>Rent Book Setup</h3>
        </div>

        <div class="create-action">
            <a href="rent_book.html"><button>Back</button></a>
        </div>
        <!-- <span>Breakpoints on 900px and 400px</span> -->

        <div class="create-action2">
            <form action="" method="POST">
                <p id="note-op">**Pelase use CTRL + Select for multipe items</p>

                <div class="custom-select">
                    <select id="single-select">
                        <option value="0">Select Below Values:</option>
                        <option value="1">Demo</option>
                    </select>
                    <select name="options" multiple id="multiple-select">
                        <option value="0">Demo1</option>
                        <option value="1">Demo1</option>
                        <option value="2">Demo2</option>
                        <option value="3">Demo3</option>
                    </select>
                </div>
                <ul class="form-style-1">
                    <li>
                        <input type="text" name="pages" class="field-divided" placeholder="Pages" required />
                        <input type="email" name="rating" class="field-divided" placeholder="Rating" required />
                    </li>
                    <li>
                        <input type="number" name="stock" class="field-divided" placeholder="Stock" required />
                        <input type="date" name="date" class="field-divided" required />
                    </li>
                    <li>
                        <input type="text" name="name" class="field-divided" placeholder="Name" required />
                        <input type="number" name="ISBN" class="field-divided" placeholder="ISBN" required />
                    </li>
                    <li>
                        <input type="file" name="file" class="field-divided" required />
                    </li>
                </ul>
                <input type="submit" value="Submit" />
                <input type="reset" />
            </form>
        </div>
    </div>
</main>
</body>
</html>
