<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js}"></script>
    <link th:href="@{https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>

<main>
    <div class="helper">
        <div class="title">
            <h3>Book Setup</h3>
        </div>

        <div class="create-action">
            <a>
                <button>Back</button>
            </a>
        </div>
        <!-- <span>Breakpoints on 900px and 400px</span> -->

        <div class="create-action2">
            <form th:action="@{~/book/create}" th:object="${book}" th:method="post" enctype="multipart/form-data">
                <input type="hidden" th:text="*{bookId}">
                <ul class="form-style-1">
                    <li>
                        <label class="selecto">Category:</label>
                        <select th:field="*{categoryId}" class="selecting" name="">
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"
                            ></option>

                        </select>

                        <label class="selecto">Author:</label>
                        <select th:field="*{authorId}" multiple class="chosen-select selecting" name="test">
                            <option
                                    th:each="author : ${authors}"
                                    th:value="${author.id}"
                                    th:text="${author.name}"
                            ></option>

                        </select>
                    <li>
                        <input th:field="*{noOfPages}" type="text" name="name" class="field-divided"
                               placeholder="No Of Pages"
                        />
                        <input th:field="*{rating}" type="text" name="email" class="field-divided" placeholder="Rating"
                        />

                    </li>
                    <li>
                        <input th:field="*{stockCount}" type="text" name="name" class="field-divided"
                               placeholder="Stock Count"/>
                        <input th:field="*{isbn}" type="text" name="email" class="field-divided" placeholder="ISBN"/>

                    </li>
                    <li>
                        <!--<input th:field="*{publishDate}" type="text" name="name" class="field-divided" placeholder="Publish Date" required/>-->
                        <input th:field="*{name}" type="text" name="email" class="field-divided" placeholder="Name"/>
                        <input th:field="*{multipartFile}" type="file" name="email" class="field-divided"
                               placeholder="Name"/>

                    </li>


                </ul>
                <input type="submit" value="Submit"/>
                <input type="reset"/>
            </form>
        </div>
    </div>
</main>
<script>
    $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!"
    })
</script>

</body>
</html>
