<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{../css/style.css}"></head>
<body>
<div th:replace="fragments/sidenavbar :: navbar"></div>

<main>
    <div class="helper">
        <div class="title">
            <h3>Author Setup</h3>
        </div>

        <div class="create-action">
            <a href="member.html"><button>Back</button></a>
        </div>
        <!-- <span>Breakpoints on 900px and 400px</span> -->

        <div class="create-action2">
            <form action="" method="POST">
                <ul class="form-style-1">
                    <li>
                        <input type="text" name="name" class="field-divided" placeholder="Name" required />
                        <input type="email" name="email" class="field-divided" placeholder="Email" required />
                    </li>
                    <li>
                        <input type="number" name="mobile" class="field-long" placeholder="Mobile Number" required />
                    </li>
                </ul>
                <input type="submit" value="Submit" />
                <input type="reset" />
            </form>
        </div>
    </div>
</main>
</body>
</html>
