<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
<div  th:fragment="navbar">
    <div class="container">
        <nav class="menu">
            <div class="smartphone-menu-trigger"></div>
            <header>
                <h3><a href="..//index.html">Book Rental System</a></h3>
            </header>
            <ul>
                <li>
                    <label for="item-1">Master Data</label>
                    <input type="checkbox" id="item-1" />
                    <ul>
                        <li><a th:href="@{~/author/getall}">Author Setup</a></li>
                        <li><a th:href="@{~/category/setup}">Category Setup</a></li>
                        <li><a th:href="@{~/member/setup}">Customer Setup</a></li>
                        <li><a href="book.html">Book Setup</a></li>
                    </ul>
                </li>
                <li>
                    <label for="item-2">Transcation</label>
                    <input type="checkbox" id="item-2" />
                    <ul>
                        <li><a href="rent_book.html">Rent A Book</a></li>
                        <li><a href="return_book.html">Return A Book</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>